<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>Welcome,this is about page</h1>
    <p style="width: 500px; height: 100px; color: red">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero recusandae
      totam, nobis ullam eveniet reprehenderit veritatis suscipit quia, magni
      delectus, doloremque officia quae ut earum nulla debitis iure aspernatur
      iusto? Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab
      consectetur quam perferendis, non ad earum soluta itaque sit deleniti quas
      exercitationem obcaecati consequatur cupiditate iure, libero deserunt
      tempora, a provident?
    </p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1280px-Node.js_logo.svg.png"
      alt=""
      srcset=""
      style="width: 100px; height: 100px"
    />
  </body>
</html>
