<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <body>
      <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
      </nav>

      <div class="section">
        <h1>Contact Us</h1>
        <p>Email: example@gmail.com</p>
        <p>Phone: +91 9876543210</p>
        <a href="home.html" class="btn">Go Back</a>
      </div>
    </body>
  </body>
</html>
