<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%-include("common/navbar")%>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deserunt
        autem adipisci, ullam accusamus illo ex ducimus id! Molestias eos
        aperiam hic harum eum atque nesciunt velit quas deserunt nobis. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Cum fugit pariatur
        incidunt labore, laudantium voluptatem et fugiat voluptatibus, sint
        consectetur dolor illum quaerat expedita hic necessitatibus odio.
        Commodi, inventore tempore? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Voluptatibus nihil libero, labore in accusamus autem
        ducimus earum facere sequi culpa laboriosam suscipit cumque aliquam aut
        mollitia quia voluptates quasi ratione. loe Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Enim deserunt autem adipisci, ullam
        accusamus illo ex ducimus id! Molestias eos aperiam hic harum eum atque
        nesciunt velit quas deserunt nobis. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Cum fugit pariatur incidunt labore,
        laudantium voluptatem et fugiat voluptatibus, sint consectetur dolor
        illum quaerat expedita hic necessitatibus odio. Commodi, inventore
        tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatibus nihil libero, labore in accusamus autem ducimus earum
        facere sequi culpa laboriosam suscipit cumque aliquam aut mollitia quia
        voluptates quasi ratione. loe Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Enim deserunt autem adipisci, ullam accusamus illo ex
        ducimus id! Molestias eos aperiam hic harum eum atque nesciunt velit
        quas deserunt nobis. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Cum fugit pariatur incidunt labore, laudantium voluptatem et
        fugiat voluptatibus, sint consectetur dolor illum quaerat expedita hic
        necessitatibus odio. Commodi, inventore tempore? Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Voluptatibus nihil libero, labore in
        accusamus autem ducimus earum facere sequi culpa laboriosam suscipit
        cumque aliquam aut mollitia quia voluptates quasi ratione. loe Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Enim deserunt autem
        adipisci, ullam accusamus illo ex ducimus id! Molestias eos aperiam hic
        harum eum atque nesciunt velit quas deserunt nobis. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Cum fugit pariatur incidunt
        labore, laudantium voluptatem et fugiat voluptatibus, sint consectetur
        dolor illum quaerat expedita hic necessitatibus odio. Commodi, inventore
        tempore? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatibus nihil libero, labore in accusamus autem ducimus earum
        facere sequi culpa laboriosam suscipit cumque aliquam aut mollitia quia
        voluptates quasi ratione. loe
      </p>
      <img
        src="https://img.freepik.com/free-photo/scenic-view-mountains-lake_53876-138187.jpg?semt=ais_user_personalization&w=740&q=80"
        alt=""
      />
    </div>
  </body>
</html>
